@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TrabalhoES2.Models.Utilizador

@{
    ViewData["Title"] = "Detalhes do Utilizador";
}

<h1>Detalhes do Utilizador</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TpUtilizador)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TpUtilizador)
            </dd>
        }
        @if (Model.IsBlocked)
        {
            <dt class="col-sm-2">
                Estado Atual
            </dt>
            <dd class="col-sm-10">
                <span class="badge bg-warning text-dark">Bloqueado</span>
                <small>(@Model.BlockedAt?.ToString("yyyy-MM-dd HH:mm"))</small>
            </dd>
        }
        else if (Model.UnblockedAt.HasValue)
        {
            <dt class="col-sm-2">
                Estado Atual
            </dt>
            <dd class="col-sm-10">
                <span class="badge bg-success">Ativo</span>
                <small>(Desbloqueado: @Model.UnblockedAt?.ToString("yyyy-MM-dd HH:mm"))</small>
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                Estado Atual
            </dt>
            <dd class="col-sm-10">
                <span class="badge bg-success">Ativo</span>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
</div>