@model IEnumerable<TrabalhoES2.Models.Utilizador>

@{
    ViewData["Title"] = "Gestão de Utilizadores";
}

<h1>Gestão de Utilizadores</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo Utilizador</a>
</p>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TpUtilizador)
        </th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TpUtilizador)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>