@model TrabalhoES2.Models.Utilizador

@{
    ViewData["Title"] = "Desbloquear Utilizador";
}

<h1>Desbloquear Utilizador</h1>

<div class="alert alert-success">
    <h3>Tem a certeza que deseja desbloquear este utilizador?</h3>
    <p>O utilizador poderá voltar a aceder à aplicação após ser desbloqueado.</p>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TpUtilizador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TpUtilizador)
        </dd>
        <dt class="col-sm-2">
            Bloqueado Em
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlockedAt)
        </dd>
    </dl>

    <form asp-action="Unblock">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Desbloquear" class="btn btn-success" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
    </form>
</div>